.storage-uploader {
  display: flex;
  flex-direction: column;
  align-items: center;

  .buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 1rem;
  }

  .mdc-grid-list .mdc-grid-tile {
    margin: .5rem;
  }

  .mdc-grid-list__tiles {
    justify-content: center;
  }

  .mdc-grid-tile__primary-content {
    display: block;
    margin: auto;
    width: inherit;
    height: 180px;;
    max-width: 100%;

  }

  .percentage {
    position: absolute;
    top: 0;
    left: 0;
    background: forestgreen;
    z-index: 1;
    height: .5rem;
  }

}
