.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

#firebase-authentication {
  display: flex;
  flex-direction: column;

  mdc-button {
    min-width: 4rem;
    max-width: 15rem;
    margin: 0.5rem 0;
  
    button {
      font-size: calc(1rem - 0.2vmax);
    }
    
    .mdc-button-icon {
      margin-right: 0px;
      display: block;
      min-width: 1rem;
    }
    
    .mdc-button-inner-wrapper {
      justify-content: start !important;
    }
  
    .mdc-button-slot {
      display: block;
      margin-left: 1rem;
    }
  }
  
}

