@import '@material/button/mdc-button.scss';

mdc-button {
  .icon > i {
    margin-top: 6px;
  }

  button {
    width: 100%;

    .mdc-button-inner-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .mdc-button__icon {
      margin-top: -7px;
    }
  }
}
